.navbar{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 124, 85);
    color: black;
}
.navbar ul{
    list-style-type: none;

}
.navbar li{
    float: left;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
}
.pageDisplay{
    text-align: center;
    color: black;
    background-color: skyblue;
}